@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sectiom backgrounds */

.landingBg {
    @apply bg-[url('../src/assets/landingBg.png')] bg-no-repeat bg-cover h-screen;
}

.teamBg {
    @apply bg-[url('../src/assets/teamBg.png')] bg-no-repeat bg-cover  h-[700px] lg:h-screen;
}

/* Landing section */

.landingWrapper {
    @apply h-screen flex flex-col justify-center items-center;
    background: rgba(0, 0, 0, 0.2);
}

/* Facts section */

.factsCard {
    @apply border border-gray-200 bg-white rounded-md drop-shadow-2xl h-72 w-[370px] pb-5 sm:pb-0 sm:mx-6 my-6 sm:my-0 relative;
    @apply hover:bg-yellow-100 duration-300 ease-in hover:ease-out;
}

.factsHeading {
    @apply text-2xl text-center font-bold text-black mt-12 mb-6;
}

.factsText {
    @apply text-gray-700 text-center;
}

.factsIconWrapper {
    @apply rounded-full w-16 h-16 bg-yellow-400 flex flex-row items-center justify-center absolute top-[-32px] right-[153px];
}

/* Team section */

.teamWrapper {
    @apply h-[700px] lg:h-screen;
    background: rgba(0, 0, 0, 0.6);
}

.profileCardRow1 {
    @apply lg:col-span-4 rounded-lg h-[206px] w-[400px] lg:mb-12 mr-16 ml-4 lg:mx-6 hover:cursor-pointer;
}

.cardContentWrapper {
    @apply flex flex-row rounded-lg items-center w-max h-max;
    background: rgba(255, 255, 255, 0.2)
}